// font
$main_font: 'Raleway', sans-serif;
$secondary_font: 'Roboto', sans-serif;
$cursive_font: 'Bona Nova', serif;

// colors
$white:#fff;
$dark:#000;


// media query
$phone:480px;
$tablet:800px;
$desktop:1280px;



// utilities with variables

$spacing: 5rem;